/* VARIABLES */


/* ===COLOURS=== */
:root{
    --first-color: #5d5858;
    --main-color: hsl(26, 100%, 55%);
    --pale-color: hsl(25, 100%, 94%);
    --white-color: hsl(0, 0%, 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 16px;
}
.nav_bar{
        width: 1.9rem;
        height: 1.5px;
        border-radius: 2px;
        cursor: pointer;
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        z-index: 2;
}
.bar{
    content: '';
    position: relative;
    width: 15px;
    height: 3px;
    background-color: var(--first-color);
}
.bar::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: var(--first-color);
    transform: translateY(5px);
}
.bar::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: var(--first-color);
   
    transform: translateY(-5px);
}

.header{
    position: fixed;
    top: 0;
    height: 4rem;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
}
.prof{
    border: 3px solid var(--main-color);
    border-radius: 50%;
}
.cover{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2rem);
    margin: auto;
}
.cover .profile-sec{
    display: flex;
    align-items: center;
    justify-content: inherit;
    width: 6rem;
}
.left_nav{
    display: flex;
    align-items: center;
    justify-content: inherit;
    width: 150px
}
.nav__link ul li{
    list-style: none;
    margin-bottom: 1.5rem;
}
.nav__link ul li a{
    text-decoration: none;
    font-weight: 400;
    color: black;
}

.nav__link ul li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    top: 2.6rem;
    background-color: var(--main-color);
    transition: .5s;
}
.nav__link ul li a:hover::after{
    width: 100%;
    transition: .5s;
}
/* .nav__link ul li a:hover{
    position: relative;
} */
.nav__link ul li a{
    position: relative;
}

@media screen and (max-width: 768px){
    .nav__link{
        position: fixed;
        top: 0;
        left: -120%;
        width: 40%;
        height: 100%;
        padding: 3rem 1rem;
        background-color: #6f91a4;
        transition: .5s;
        
    }
    .show{
    left: 0;
}
.close::before{
    transition: .5s;
    transform: rotate(45deg);
}
.close::after{
    transition: .5s;
    transform: rotate(315deg);
}
.close{
    transition: .5s;
    background-color: rgba(249, 249, 241, 0);
}
}


@media screen and (min-width: 768px){
    .nav_bar{
        display: none;
    }
    .nav__link{
        padding: 20px;
    }
    .nav__link ul{
        display: flex;
    }
    .nav__link ul li{
        margin-bottom: 0;
        margin-right: 1rem;
    }
    
}